---
layout: default
title-name: Jirka Pénzeš
title-label: Naučím vás řídit tým na dálku a být jeho součástí
---

<style>
    .title {
        text-align: center;
    }

    .title-texts {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .title-image {
        max-width: 140px;
        border-radius: 50%;
        margin-bottom: 16px;
    }

    .products-wrapper {
        border-top: rgba(100, 100, 100, 1) 1px solid;
        border-bottom: rgba(100, 100, 100, 1) 1px solid;
        padding: 32px 0;
        margin: 16px 0;
        text-align: center;
    }

    .products {
        background-color: #F8F9F9;
        padding: 16px 32px;
    }

    .product {
        margin: 16px 0;
    }
</style>

<div class="section">
    <div class="container">
        <div class="title">
            <img src="{{ '/assets/images/jp.png' | relative_url }}" class="title-image" alt="{{ page.title-name }}">
            <h1>{{ page.title-name }}</h1>
            <h2>{{ page.title-label }}</h2>
        </div>
    </div>
</div>

<div class="products-wrapper">
    <div class="products">
        <h4>Kurzy</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="four columns">
                    <div class="product">
                        <img src="{{ '/assets/images/workshop_1.png' | relative_url }}">
                        <a href="/skoleni/it-pro-ne-it">
                            <h3>IT pro ne - IT</h3>
                        </a>
                        <p>
                             Na tomto školení se naučíme orientovat v IT termínech a vysvětlíme si základy vývoje software. 
                        </p>
                        <a class="button" href="/skoleni/it-pro-ne-it">Detail</a>
                    </div>
                </div>
                <div class="four columns">
                    <div class="product">
                        <img src="{{ '/assets/images/workshop_2.png' | relative_url }}">
                        <a href="/skoleni/remote-tym">
                            <h3>Remote tým</h3>
                        </a>
                        <p>
                            Naučím vás postavit dobře fungující tým, který bude efektivně fungovat a komunikovat na vzdáleně.  
                        </p>
                        <a class="button" href="/skoleni/remote-tym">Detail</a>
                    </div>
                </div>
                <div class="four columns">
                    <div class="product">
                        <img src="{{ '/assets/images/workshop_3.png' | relative_url }}">
                        <a href="/skoleni/coderetreat">
                            <h3>CodeRetreat</h3>
                        </a>
                        <p>
                            CodeRetreat je jednodenní intenzivní cvičení zaměřené na procvičování best practices technik vývoje software. 
                        </p>
                        <a class="button" href="/skoleni/coderetreat">Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <h3>Konzultace</h3>
    <p>
        Mimo školení nabízím i individuální konzultace - nejčastěji na téma řízení týmu, konflikty v týmech, procesy v softwarové firmě nebo práce na dálku. 
        Neváhejte se nezávazně ozvat a určitě něco vymyslíme dle vašich potřeb. 
    </p>
</div>

{% include references.html %}
{% include lecturer.html %}
{% include contact.html %}