<div class="section">
    <h3>Kontakt</h3>
    <p>
        Pokud máte jakýkoliv dotaz, zájem o školení či chcete navázat spolupráci, pak neváhejte napsat na email: <a
            href="mailto:jirkapenzes@gmail.com">jirkapenzes@gmail.com</a> nebo využijte konktaktní formulář:
    </p>

    <form action="https://getform.io/f/6e0e1497-55a0-4da8-9ae1-8287df590f18" method="POST">
        <div class="row">
            <div class="six columns">
                <label for="email">Email</label>
                <input id="email" name="email" class="u-full-width" type="email" placeholder="Emailová adresa">
            </div>
        </div>
        <div class="row">
            <div class="nine columns">
                <label for="message">Zpráva</label>
                <textarea id="message" name="message" class="u-full-width" rows="10"
                    placeholder="Zpráva ..."></textarea>
                <input class="button-primary" type="submit" value="Odeslat">
            </div>
        </div>
    </form>
</div>