<div class="section">
    <h3>Lektor - <b>Jirka Pénzeš</b></h3>
    <div class="container-fluid">
        <div class="row">
            <div class="four columns">
                <img src="/assets/images/lecturer.png" width="100%">
            </div>
            <div class="eight columns">
                <p>
                    V softwarovém vývoji a IT se pohybuji více než deset let. Za tu dobu jsem měl možnost nahlédnout pod pokličku různě velikým projektům a vidět jak fungují různě veliké týmy. Aktuálně pracuji jako CTO v rámci TopMonks Startup Studio a konzultant na volné noze.
                </p>
                <p>
                    Snažím se vždy hledat cesty, jak efektivně řídit tým s využitím dostupných znalostí, metodik a nástrojů. Existuje celá řadá skvělých postupů, ale ne vždy jsou správně aplikovány a kolikrát stačí velmi málo, aby tým fungoval ještě lépe. 
                </p>
                <p>
                    Pomáhám startupům jako mentor a baví mě sdílet své znalosti a budovat komunitu. Společně s kamarády organizujeme již několik let <a href="https://coderetreat.cz/">Global day of CodeRetreat</a>, kde se snažíme propagovat čistý kód, test driven development a obecně dobré praktiky psaní kódu. Zkouším v česku šířit koncept <a href="http://codingdojo.cz/">Coding Dojo</a>, který pomáhá sdílet znalosti a zkoušet různé cesty na poli vývoje. Organizuji různé eventy a přednáším na konferencích (Barcamp, DevFest, MS Fest, ...). 
                </p>
                
                <h5>Vybrané přednášky</h5>
                <ul>
                    <li>
                        <a href="https://www.youtube.com/watch?v=PhEWBl4MZA8&feature=emb_title">Barcamp Hradec Králové 2016 - Umění dělat remote tým</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=0Zi4rEZvT7I">BrMo Technology conference - Jak psát čistý kód</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=UM6eedCOSWg">TechMeetup Conference - Rozjeď cluster a škáluj na Docker Swarm</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=x9jTjESIias">Barcamp Hradec Králové 2017 - Docker swarm
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=kLguVMp_UG4">DevFest 2015 - Krásy tajemného světa funkcionálního programování</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</div>