<style>
    .navigation-bar {
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 32px;
    }

    .navigation-menu {
        font-size: 2rem;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        height: 6rem;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
</style>

<div class="navigation-bar">
    <div class="navigation-menu">
        <div>
           <a href="/">Jirka Pénzeš</a>
        </div>
        <div>
            <a href="mailto:jirkapenzes@gmail.com">Poptávka</a>
        </div>
    </div>
</div>