<div class="section">
    <h3>Jak školení probíhájí?</h3>
    <p>
        Každé školení je sestavené individuálně dle potřeb zákazníka. Vždy obsahují nutnou dávku teoretických znalostí a
        zároveň jsou propletené praktickými příklady z reálných projektů.
        Na kurzech panuje uvolněná atmosféra a je možné nad každým tématem kdykoliv diskutovat.
    </p>
    <div class="container-fluid">
        <div class="row">
            <div class="three columns">
                <img src="{{ '/assets/images/photos/1.jpg' | relative_url }}" width="100%">
            </div>
            <div class="three columns">
                <img src="{{ '/assets/images/photos/2.jpg' | relative_url }}" width="100%">
            </div>
            <div class="three columns">
                <img src="{{ '/assets/images/photos/3.jpg' | relative_url }}" width="100%">
            </div>
            <div class="three columns">
                <img src="{{ '/assets/images/photos/4.jpg' | relative_url }}" width="100%">
            </div>
        </div>
    </div>
</div>