html {
    height: 100%;
}

body {
    font-family: 'EB Garamond', serif;
    font-size: 2.1em;
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 4.1rem;
}

h2 {
    font-size: 3.7rem;
}

h3 {
    font-size: 3.1rem;
}

h4 {
    font-size: 2.6rem;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

.section {
    padding: 32px 0;
}

.sub-wrapper {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}