---
layout: default
permalink: /skoleni/coderetreat/
---

<div class="sub-wrapper">
    <h2>Coderetreat</h2>
    <h3>Trénování best practices</h3>
    <p>
        Coderetreat je jednodenní intenzivní cvičení zaměřené na procvičování technik vývoje softwaru. Díky tomu, že vývojáři nejsou pod tlakem rychlého doručování výsledků, poskytuje Coderetreat možnost cíleně se soustředit na zlepšování svých dovedností.
    </p>
    <p>
        Procvičováním základních principů modulárního a objektově-orientovaného návrhu mohou účastníci zlepšit své schopnosti psát kód, který minimalizuje náročnost implementace dalších změn.
    </p>
    <p>
        Během celého dne si tak každý účastník vyzkouší různé pohledy na vývoj software.
    </p>

    <h5>Co si procvičíte?</h5>
    <ul>
        <li>Techniky psaní čistého kódu</li>
        <li>Psaní unit testů metodou test-first</li>
        <li>Párové programování</li>
        <li>A další techniky zvýšení kvality kódu</li>
    </ul>

    <h5>Píšete čistý kód?</h5>
    <p>
        Jednou z naprosto základních dovedností každého vývojaře by měla být snaha psát čistý kód. Takový kód napomahá ke snadšímu rozšiřování nové funkcionality systému, zvýšuje čitelnost pro ostatní členy týmu a zejména he lépe testovatelný. Technikám psání čístého kódu se na Coderetreatu význámně věnujeme v průběhu celého dne.
    </p>
    <p>
        Coderetreat lze uspořádat i jako team-buildingovou aktivitu.
    </p>

    <h5>Pro koho je kurz vhodný?</h5>
    <ul>
        <li>Pro všechny vývojáře</li>
        <li>Ideální počet 12 - 16 účastníků</li>
    </ul>

    {% include photos.html %}
    {% include contact.html %}
</div>