---
layout: default
permalink: /skoleni/it-pro-ne-it/
---

<div class="sub-wrapper">
    <div>
        <h2>IT pro ne IT</h2>
        <h3>Základy IT pro manažery</h3>
    </div>

    <div class="section">
        <p>
            Pracujete v IT týmu, ale nejste IT člověk? Chcete více porozumět světu softwarového vývoje, který je pro vás ještě záhadou? Velmi často se dnes dostáváme do kontaktu s IT světem - ať už přímo nebo nepřímo. Není jednoduché se ve všech termínech a zkratkách snadno orientovat. Zároveň není vůbec jednoduché udržet krok s rychlým posunem technologií, nástrojů, programovacích jazyků, přístupů a procesů. 
        </p>
        <p>
            Tento kurz se věnuje naprostým základům světa IT a softwarového vývoje. Objasníme si význam základních termínů, zkratek procesů či se podíváme do světa programování. Osnovu stavíme dle aktuálních potřeb zákazníka. 
        </p>
        
        <h5>Pro koho je kurz vhodný?</h5>
        <ul>
            <li>Projekt manager, produkt manager, ...</li>
            <li>Sales nebo business</li>
            <li>Rekruteři a HR</li>
            <li>... kdokoliv další kdo se chce orientovat v IT</li>
        </ul>

        <h5>Nejčastější témata: </h5>
        <ul>
            <li>Jak vzniká webová aplikace.</li>
            <li>Jaký je rozdíl mezi backend a frontend.</li>
            <li>Základní rozdělení programovacích jazyků, knihoven a frameworků.</li>
            <li>Nástroje a zkratky.</li>
            <li>Agilní procesy.</li>
        </ul>

        <h4>Jednorázová lekce</h4>
        <p>
            Půl denní kurz nebo celo denní, který je postaven na míru, dle potřeb zákazníka. Případně připravím standardní osnovu.  Nejčastěji se věnujeme objasnění základních termínů - jako je backend, frontend, infrastruktura či  programovacím jazykům - jaký je mezi nimi rozdíl, jak se v nich orientovat, atd. Na školení si také vysvětlujeme různé technické zkratky, nástroje a další termíny, které vývojáři běžně používají a je dobré jim rozumět. Dalším nosným tématem je lehký úvod do procesů, které se v IT vývoji běžně používají.
        </p>

        <h4>Pravidelné lekce</h4>
        <p>
            IT svět je velmi obsáhlý a jen málá část se dá pojmout na jednom školení. Zároveň se často setkáváme se stále novými termíny,   které je potřeba si dovysvětlit. Proto nabízím možnost pravidelných lekcí. Každá lekce může být velmi individuální, dle aktálních potřeb. Případně vždy připravím nějaké téma, které si na lekci vysvětlíme. 
        </p>
        <ul>
            <li>1x týdně 60 minut nebo 30 minut</li>
            <li>1x za 14 dní 60 minut nebo 30 minut</li>
        </ul>
    </div>

    {% include photos.html %}
    {% include contact.html %}
</div>