---
layout: default
permalink: /skoleni/remote-tym/
---
<div class="sub-wrapper">
    <div>
        <h2>Remote tým</h2>
        <h3>Naučím vás řídit tým na dálku a být jeho součástí</h3>
    </div>

    <div class="section">
        <p>
            Dobře fungující distribuovaný tým je dnes velmi žádaný. Ne vždy je ale jednoduché umět na dálku správně fungovat, jak z pohledu jednotlivých členů týmu, tak očima firmy nebo leadra. Je potřeba se naučit používat nástroje, které práci na dálku usnadňují a zejména změnit mindset, aby tým fungoval efektivně a dodával svou práci v čas a kvalitně. 
        </p>
        <p>
            Práce na dálku sebou přináší velkou dávku svobody, ale vždy je potřeba si uvědomit, že moje svoboda končí tam, kde začíná svoboda těch ostatních. Tento princip je jednoduchý, ale často náročný na implementaci, protože každý z nás je zvyklí na odlišný pracovní režim. Na školení si budeme ukazovat různé postupy a techniky, jak získat svobodu v práci, ale zároveň neztratit nadhled a kontrolu. 
        </p>
        <p>
            Naprosto zásadní pro práci na dálku je správná komunikaci. Bez komunikace by to nešlo. Je zapotřebí si osvojit nástroje, které nám pomohou - ať už nástroje pro běžnou denní komunikaci, tak i nástroje pro uchovávání informací o projektu nebo správně používat konferenční hovory. 
        </p>

        <h5>Tématické okruhy kurzu:</h5>
        <ul>
            <li>Práce na dálku obecně - základní principy</li>
            <li>Komunikace a předávání informací</li>
            <li>Nástroje</li>
            <li>Umění řídit konflikty na dálku</li>
            <li>Řízení týmu a procesy</li>
        </ul>

        <p>
            Kurz je vhodný pro každého, kdo by si rád více osvojil fungování a distribuovaného týmu. 
        </p>

        <h5>Pro koho je kurz určen</h5>
        <p>
            Toto školení je určeno zejména pro firmy, které chtějí zlepšit své fungování na dálku. Dle potřeba zákazníka lze školení individuálně připravit. 
        </p>
    </div>

    {% include photos.html %}
    {% include contact.html %}
</div>